<article class="sidebar">
            <h1 class="sidebar-title">Who should come?</h1>
            <p class="sidebar-body">Here is some of great Art Work made by our speaker and please come in conference and see more</p>
            
          </article><!-- article -->